body {
	background-image: url("https://i.imgur.com/Gz5FnKO.png");
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: 100% 100%;
	text-align: center;
	height: 100%; 
	overflow: hidden;
	font-size: 24px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	--purpl: #b888ff;
	--btn: rgba(255, 255, 255, 0);
	--color: #eaecf0;
	color: var(--color);
}

body.light {
	background-image: url("blob:https://imgur.com/77e88c51-97d3-4187-9d84-f0baa23439b4");
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: 100% 100%;
	text-align: center;
	height: 100%; 
	overflow: hidden;
	font-size: 24px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	--purpl: #ffb300;
	--btn: rgba(0, 0, 0, 0);
	--color: #363330;
}

.center {
	position: absolute;
	bottom: 10%;
	left: 25%;
	width: 50%;
	height: 80%;
	padding: 20px;
	outline: double var(--purpl) 8px;
	border-radius: 32px;
}

#text_to_cat_noises_result, #cat_noises_to_text_result {
	overflow-y: auto;
	height: calc(50% - 160px);
    scrollbar-color: var(--purpl) rgba(0, 0, 0, 0);
}

button, input {
	outline: solid var(--purpl) 2px;
	border-radius: 8px;
	background: var(--btn);
	color: var(--color);
}